<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<title>Laugh Track</title>


	<link rel="stylesheet" href="/static/LaughTrack.css">
	<link href="http://netdna.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
</head>
<body>
	<div class = "volumeMeter" id="volumeMeterContainer">
		<!-- <div class= "volumeMeter" id="volumeMeterBlur"></div> -->
		<canvas class= "volumeMeter" id="volumeMeter"></canvas>
		<div class= "volumeMeter" id="volumeMeterIcon"><i class="fa fa-microphone fa-3x"></i></div>
	</div>
	<div id="video-container">
		<!-- Video -->
		<video id="video" src="/static/assets/thisistheend.mp4" poster="/static/assets/poster1.png" preload="auto" controls>
		</video>
		<div id="title">
			<h2>Now Showing</h2>
			<h1>This is the End</h1>
			<h2>LaughTrack clips video highlights by listening to the audience.</h2>
			<!-- <h2>LaughTrack stitches video highlights by listening to the audience.</h2> -->
			<div class="hr"></div>
			<h2><i class="fa fa-microphone fa-lg"></i></h2>
		</div>
	</div>
	<canvas id="volumeHistory"></canvas>

	<script src="/static/LaughTrack.js"></script>
	<script src="/static/microphoneVolumeMeter.js"></script>
</body>
</html>